$sky: lightblue;

@mixin cloudparts($t: 100px, $l: 100px, $bblr: 0px, $bbrr: 0px, $w: 100px, $h: 100px) {
    top: $t;
    left: $l;
    width: $w;
    height: $h;
    border-bottom-left-radius: $bblr;
    border-bottom-right-radius: $bbrr;
    z-index: 2;
}

.inner-area{
  position: relative;
  height: 400px;
  width: 400px;
  background-color: lightblue;
  margin: 0 auto;


  &.dark {
    background-color: darken($sky, 70%);
    animation: dark 10s infinite;
  }

  .cloud {
    span {
      height: 100px;
      width: 100px;
      background-color: white;
      position: absolute;
      border-radius: 50%;
      transition: .5s;

      &.part1 {
        @include cloudparts(100px, 100px, 30px, 10px);
      }

      &.part2 {
        @include cloudparts(80px, 150px, 10px, 10px, 100px, 120px);
      }

      &.part3 {
        @include cloudparts(130px, 225px, 10px, 50%, 55px, 70px);
        border-top-right-radius: 30px;
      }

      &.part4 {
        @include cloudparts(140px, 80px, 30px, 10px, 60px, 60px);
      }

      &.rain {
        @include cloudparts(200px, 115px, 0px, 0px, 130px, 200px);
        border-radius: 0;
        z-index: 1;
        background-color: transparent;
        transition: 10s;

        &.dark {
          background-color: darken($sky, 65%);
        }
      }
    }
  }
}



.storm {
  animation: cloud 10s infinite;

  span {
    background-color: $gray-dark;
  }

  .part1, .part3 {
    animation: left 3s infinite;
  }

  .part2, .part4 {
    animation: right 3s infinite;
  }
}

@mixin translate($start, $half, $full) {
  0% { transform: translateX($start); }
  50% { transform: translateX($half); }
  100% { transform: translateX($full); }
}

@keyframes cloud {
  0% { transform: translateX(0); }
  25% { transform: translateX(-50px); }
  50% { transform: translateX(0); }
  75% { transform: translateX(50px); }
  100% { transform: translateX(0); }
}

@keyframes dark {
  0% {  }
  25% {  }
  50% {  }
  75% { background-color: darken($sky, 70%); }
  76% { background-color: yellow }
  77% { background-color: darken($sky, 70%); }
  100% {  }
}

@keyframes left {
  @include translate(0, -5px, 0);
}

@keyframes right {
  @include translate(0, 5px, 0);
}
