$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "reset";
@import "cloud-prototype";

// UNSORTED
//-----------------------------

.editable {
  // supposed ios click event fix
  cursor: pointer;
}

.sky {
  margin-bottom: 50px;

  .coldfront {
    position: relative;
    height: 400px;
    background-color: lightblue;

    .raincloud {
      position: absolute;
      // width: 100px;
      // height: 100px;
      left: calc(50% - 50px);
      top: calc(25% - 50px);

      .cloud {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        background-color: white;

        &:before {
          width: 100px;
          height: 70px;
          border-radius: 50%;
          display: inline-block;
          background-color: white;
          transform: translate(-80px, 30px);
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 0px;
          content: "";
        }

        &:after {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          display: inline-block;
          background-color: white;
          transform: translate(70px, -55px);
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 30px;
          content: "";
        }
      }
    }
  }
}

