$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

.browserupgrade {
    margin: .2em 0;
    padding: .2em 0;
    background: #cccccc;
    color: #000000;
}

// force scrollbar
html { overflow-y: scroll; }

body {
    background: #000000;
    font-family: sans-serif;
}

// ---- grid ----

.container-custom {
    max-width: 940px;
    margin: 0 auto;
}

.grid {
    &:after {
        display: block;
        clear: both;
        content: "";
    }

    .grid-sizer,
    .grid-item {
        width: 33.333%;
    }

    .grid-item {
        padding: 5px;
        float: left;

        img {
            display: block;
            max-width: 100%;
            border: 2px solid white;
        }
    }
}

.blocker {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    z-index: 1000000;
}
